body {
  color: white;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}

input, button {
  font-family: 'Press Start 2P', cursive;
}

.btn {
  padding: .5em 1em;
}

h1 {
  span {
    padding: .2em;
    display: inline-block;
    color: black;
    background: white;
  }
}

table {
  tbody {
    td {
      padding: .5em 1em;
    }
  }
}