$highlight: #f98424;
$neon-green: #16ff00;

body {
  color: white;
  background-color: black;
  font-family: "Press Start 2P", cursive;
}

input,
button {
  font-family: "Press Start 2P", cursive;
}

.text-field {
  padding: 0.5em 1em;
  border: 0;
}

p {
  max-width: 50ch;
  line-height: 1.5em;
}

.btn {
  margin: .5em;
  padding: 0.5em 1em;
  border-radius: 0;
  border: 0;
  background-color: white;
  &:hover {
    cursor: pointer;
    background-color: $highlight;
  }
}

h1 {
  span {
    margin-left: .2em;
    padding: 0.2em;
    display: inline-block;
    color: black;
    background: white;
  }
}

table {
  tbody {
    td {
      padding: 0.5em 1em;
    }
  }
}

.highlight {
  color: $highlight;
}

.score-indication {
  color: $neon-green;
  animation-name: fade-out;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fade-out {
  from{opacity: 1}
  to{opacity: 0}
}