$highlight: #f98424;

body {
  color: white;
  background-color: black;
  font-family: "Press Start 2P", cursive;
}

input,
button {
  font-family: "Press Start 2P", cursive;
}

.text-field {
  padding: 0.5em 1em;
  border: 0;
}

.btn {
  padding: 0.5em 1em;
  border-radius: 0;
  border: 0;
  background-color: white;
  &:hover {
    cursor: pointer;
    background-color: $highlight;
  }
}

h1 {
  span {
    padding: 0.2em;
    display: inline-block;
    color: black;
    background: white;
  }
}

table {
  tbody {
    td {
      padding: 0.5em 1em;
    }
  }
}
